<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845994905300-vrle7pp5mttep24am9b101f5gm0anlsq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845994905300-vrle7pp5mttep24am9b101f5gm0anlsq</string>
	<key>API_KEY</key>
	<string>AIzaSyBkMJZ5yEgcEHmk1EsaDjE2Mrd28WRL3PE</string>
	<key>GCM_SENDER_ID</key>
	<string>845994905300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tecsup.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-23306</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-23306.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845994905300:ios:17a2724a6e03875dd87541</string>
</dict>
</plist>